# Главная страница корневого раздела
DirectoryIndex index.php

# Управление доступом к структуре проекта
Options -Indexes

php_flag register_globals off

# Переход на 404
ErrorDocument 404 /404.php

# Управление доступом к элементам проекта для ip-адресов
<Files home.php>
Order Allow,Deny
Deny from all
</Files>

# Настройка редиректа
<IfModule mod_rewrite.c>
# Активация
RewriteEngine On
# Условие
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
# Правило
RewriteRule ^(.*)$ /init/redirect.php/?key=$1 [L]
</IfModule>
