html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  /* min-width: 1200px; */
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* glob */
:root {
  --color_main: #FBCEB1;
  --color_accent: #e43737b6;
  --color_focus: #e79b11;
  --color_hover: #c4464699;
  --color_active: #c71c1ce8;
  --color_success: green;
  --color_error: red;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  padding: 10px 15px;
  border-radius: 3px;
}

.input {
  margin-right: 10px;
  padding: 0.6em;
  border: 2px solid #b2b4b6;
  border-radius: 6px;
  width: 100%;
}

/* body */
.body {
  position: relative;
  min-width: 320px;
  height: 100vh;
  background-color: #FAF7FD;
}

.body__wrapper {
  position: relative;
  top: 25%;
}

/* header */
.header {
  margin-bottom: 30px;
  text-align: center;
  /* outline: 2px solid coral; */
}

.header__container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title {
  margin: 0;
  margin-bottom: 15px;
  max-width: 350px;
  font-size: 48px;
  color: #110222;
}

.header__slogan {
  max-width: 500px;
  font-size: 30px;
  color: #110222;
}

/* main */

/* short */
.short__wrapper {
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color_main);
}

.short__wrapper > *:not(:last-child) {
  margin-bottom: 20px;
}

.short__alert {
  align-self: flex-end;
}

.short__print {
  justify-content: space-between;
  align-items: center;
}

.short__btn {
  color: white;
  background-color: var(--color_accent);
}

.short__btn_effects {
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.short__btn_effects::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 2px solid var(--color_focus);
  outline-offset: 3px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.short__btn_effects:focus-visible {
  outline: none;
}

.short__btn_effects:focus-visible::before {
  opacity: 1;
}

.short__btn_effects:hover:not(:focus-visible) {
  background-color: var(--color_hover);
}

.short__btn_effects:active:not(:focus-visible) {
  background-color: var(--color_active);
}

.short__input_effects {
  /* transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out; */
  transition-property: border-color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.short__input_effects:focus-visible {
  outline: none;
  border-color: var(--color_focus);
  background-color: #ebebe8;
}

.short__input_effects:hover:not(:focus-visible) {
  border-color: var(--color_focus);
}

.short__input_effects:active:not(:focus-visible) {
  border-color: var(--color_focus);
}

/* form */
.form {
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
}

/* alert */
.alert {
  font-size: initial;
  /* margin-bottom: 20px; */
  padding: 10px 20px;
  border-radius: 10px;
  max-width: 260px;
  color: white;
}

.alert_success {
  background-color: var(--color_success);
}

.alert_error {
  background-color: var(--color_error);
}

/* 404 Not Found */
.info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: fit-content;
  height: 250px;
  font-size: 64px;
  font-weight: 700;
  color: crimson;
  text-align: center;
}
